<p>Thanks for buying!</p>

<a href="https://s3.amazonaws.com/john-stripe/Screen+Shot+2015-08-29+at+10.53.51+PM.png">
          <button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>